<!-- 这个header就是特指首页的header -->

<% if(config.subtitle != null || config.subtitle == "") {%>
    <div class="index-header-line" >
        <span><%= config.subtitle %></span>
    </div>
<% } %>
<% if(theme.index.titlePosition == "left") { %>
    <div style="text-align: left;">
<% } else if(theme.index.titlePosition == "center") { %>
    <div style="text-align: center;"> 
<% } %>
        <a class="index-logo" href="<%- url_for() %>">💻<%= config.title %></a>
        <div style="margin-bottom: 12px;"> 
            首页
            <% for (name in theme.menu) { %>
                <% if(name !== '首页' && theme.showInMenu.includes(name)) { %>
                    &nbsp / &nbsp<a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
                <% } %>
            <% } %>
        </div>
    </div>
